/* styles.css */

header {
    position: absolute; /* Keeps the header fixed at the top of the page */
    top: 20; /* Positions the header at the top */
    left: 50%; /* Centers the header horizontally relative to the viewport */
    transform: translateX(-50%); /* Adjusts the header's position so it's centered */
    width: 100%; /* Ensures the header takes up the full width of the viewport */
    text-align: center;
    font-size: large;
}

#contact {
    position: absolute; /* Keeps the header fixed at the top of the page */
    top: 80; /* Positions the header at the top */
    right: 10px; /* Centers the header horizontally relative to the viewport */
    width: 100%; /* Ensures the header takes up the full width of the viewport */
    text-align: right; /* Aligns text to the right inside the element */
    font-size: small;
}

#header_link {
    text-align: center;
    padding: 10px; /* Add space inside the element */
    margin: 20px 15px; /* Add space around the element */
}

#header_link u {
    margin: 0 30px; /* Add space between each underlined text element */
}


/* Set the background color for the whole page */
body {
    background-color: #2b3d47; /* Dark blue color */
    color: #ffffff; /* Optional: Set text color to white for better contrast */
    margin: 0; /* Optional: Remove default margin */
    font-family: Arial, sans-serif; /* Optional: Set a default font */
}

h1  {
    text-align: center;

}

h2  {
text-align: center;
}


/* Style for the header image */
header img {
    position: fixed; /* Position the image fixed */
    left: 0; /* Align the image to the left */
}

/* Style for all link states */
a {
    color: #ffffff; /* Set the color for links */
    text-decoration: none; /* Remove underline from links, optional */
}